openai
feedparser
finance-datareader
pandas
lxml
pandas
numpy
yfinance
plotly
xmltodict
streamlit>=1.35.0
pandas
numpy
plotly
requests
xmltodict
altair<6
streamlit
google-api-python-client
google-auth-oauthlib
google-api-python-client
google-auth-oauthlib
requests
youtube-transcript-api
