openai
feedparser
finance-datareader
pandas
requests
lxml
pandas
numpy
yfinance
plotly
requests
xmltodict
streamlit>=1.35.0
pandas
numpy
yfinance
plotly
requests
xmltodict
altair<6
streamlit
openai
google-api-python-client
google-auth-oauthlib
requests
streamlit
openai
google-api-python-client
google-auth-oauthlib
requests
yfinance
youtube-transcript-api==0.6.2
openai==1.14.0
